@model Smekay24.WebAPI.UserData
@{
    Layout = "~/Views/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <style type="text/css">
        #formDiv .col-xs-6:first-child {
            border:1px solid gray;
        }

            #formDiv .row {
                padding-bottom:20px;
            }
    </style>

</head>
<body>

    <div class="container-fluid">      
        
        <div class="row" style="margin-top:100px; margin-bottom:30px;">
            <div class="col-xs-6 col-xs-offset-4" >
                <p style="font-size:47px; margin-left:35px;">smekay.center</p>
            </div>
        </div> 

        <div class="row" id="formDiv">
            <div class="col-xs-6 col-xs-offset-3" >
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-5">
                            <h3>Вход</h3>
                        </div>
                    </div>
                    
                    <div class="row">
                         <div class="col-xs-12">
                             @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Электронная почта" })
                         </div>
                    </div>
                    
                    <div class="row">
                         <div class="col-xs-12">
                             @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Пароль" })
                         </div>
                    </div>
                    
                    <div class="row">
                         <div class="col-xs-4 col-xs-offset-4">                             
                              <button type="submit" class="btn btn-info btn-block">Войти</button>
                         </div>
                    </div>
                }
            </div>
        </div>

        <div>
            <div class="col-xs-6 col-xs-offset-4" >
                <p>Еще не зарегестрирован? <a>@Html.ActionLink("Зарегестрироваться", "Registration", "Registration", null, null)</a></p>
            </div>
        </div>

    </div>
    
</body>
</html>
