@{
    ViewBag.Title = "PersonalCabinet";
    Layout = "~/Views/Layout.cshtml";
}

<h2 style="text-align: center;">Личный кабинет</h2>

<body>
    <div>
        <div style="float: left; padding-left: 80px;">
            <div>
                @Html.ActionLink("Мои объявления", "PersonalCabinetAdverts", "PersonalCabinet", null, null)
            </div>
            <div>
                @Html.ActionLink("Уведомления", "PersonalCabinetNotification", "PersonalCabinet", null, null)
            </div>
            <div>
                @Html.ActionLink("Настройки", "PersonalCabinetSettings", "PersonalCabinet", null, null)
            </div>
        </div>
        <section id="main">
            @RenderBody()
        </section>
    </div>
</body>
