@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />


    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4" >
                <ul class="topUl">
                    <li>
                        <a>Главная</a>
                    </li>
                    <li>
                        <a>Мои обьявления</a>
                    </li>
                    <li>
                        <a>Подать обьявления</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 col-xs-offset-4" >
                <ul class="topUl">
                    <li>
                        <a>@Html.ActionLink("Вход","Login","Login",null,null)</a>
                    </li>
                    <li>
                        <a>Правила</a>
                    </li>
                    <li>
                        <a>Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
